#nav { position: relative; }

/* All Levels */ /* Style consistent throughout all nav levels */
#nav li { text-align:left;	}
#nav li.over { z-index:998;}
#nav li.over.parent {  }
#nav a,
#nav a:hover { display:block; text-decoration:none; }
#nav span { display:block; cursor:pointer; white-space:nowrap; }
#nav li ul span { white-space:normal; }
#nav a { float:left; }
.blocklist li,
#nav ul.chield > li { display:block; float:left; padding: 0 0px 0 0; }
#nav .chield { margin-left:-1px; width: 952px; background-color:#4A5456;
}
/* 1st Level */
#nav ul li.parent { }
#nav ul li.last { padding-bottom:0; }
#nav ul li.active { }
#nav ul a,
#nav ul a:hover { float:none; background:none; }
#nav ul a:hover { text-decoration:underline; }
#nav > li > ul > li > a { }
.blocklist li.parent > a span,
#nav > li > ul > li.parent > a span { font-size: 14px;font-weight:bold;margin-left:10px;}
#nav > li > ul > li.parent > a {
    
    
}
#nav ul li a { font-weight:normal;}
#nav .level1 > a > span {
    color:#C2A26F;
    font-size: 14px;
    font-weight:bold;
    margin-left:0px;
    text-decoration:underline;
}
#nav .level1 > a:hover span {
    color:#A3A8A9;
}
#nav .custom_menu_item .level1 > a > span {
    margin-left:10px;
}
/* 2nd Level */
#nav  ul,
#nav div { top: 31px; left:-10000px; padding:3px 0 15px; font-size:12px; }
.blocklist li,
#nav > li > ul >li { width: 133px; margin:0 10px 0 0; }
#nav div ul { position:static; width:auto; border:none; padding:0; }

#nav ul.level0 { position:absolute; z-index: 1500; padding: 20px 15px 15px;top:56px;}

/* ========================== */
#nav > li > ul > li ul { margin-left:0px; }
.blocklist > li > ul > li,
#nav > li > ul > li ul > li {   }
#nav > li > ul > li ul > li a, #nav .custom_menu_item li.level2 a {
    color: #A3A8A9;
    padding:10px;
}
#nav > li > ul > li ul > li a:hover, #nav .custom_menu_item li.level2 a:hover {
    
    color: #C2A26F;
    text-decoration:underline;

}
.blocklist > li > ul > li {  }

/* ========================== */

/* 3rd+ Level */
#nav ul ul,
#nav ul div { top:5px; padding: 10px 0px 5px; }


/* Show menu */
#nav li ul.shown-sub,
#nav li div.shown-sub { left:0; z-index:999; }
#nav li .shown-sub ul.shown-sub,
#nav li .shown-sub li div.shown-sub { left:100px; }

/********** Navigation > */
/* ======================================================================================= */

#nav li div.custom_menu_item {
    background: #4A5456;
    color:#fff;
    margin-left: -1px;
    padding: 15px;
    position: absolute;
    top: 57px;
    width: 952px;
    z-index: 1500;
}