/**
 * The actual naming of elements is not set, these are just an example
 */  

/* Zoom window parent */
.zoom-container {
	position:relative;
}

/* Zoom window */
#zoom-window {
	position:absolute;
	top:0;
    border: 5px solid white;
    z-index: 100;
	height:390px;
	overflow:hidden;
	background:#fff url(../images/loading.gif) no-repeat center center;
	-webkit-box-shadow:0 0 10px #888;
	   -moz-box-shadow:0 0 10px #888;
	        box-shadow:0 0 10px #888;
}

/* Zoom gallery */
.zoom-gallery {
	list-style-type:none;
}
	.zoom-thumbnail {
		float:left;
		text-decoration:none;
	}
		li:first-child .zoom-thumbnail {
			margin-left:0;
		}
		.thumbnail-loading {
			background:#fff url(../images/loading.gif) no-repeat center center;
		}
			.thumbnail-loading img {
				opacity:0.5;
			}
